@import 'tailwindcss';

/* Simple theme */
@layer theme {
  :root {
    --background: #ffffff;
    --background-light: #FCFCFC;
    --foreground: #1a1a1a;

    --card: #ffffff;
    --card-foreground: #1a1a1a;

    --primary: #4b63ff;
    --primary-foreground: #ffffff;

    --secondary: #f5f5f5;
    --secondary-foreground: #1a1a1a;

    --accent: #4b63ff18;
    --accent-foreground: #1a1a1a;

    --destructive: #ff5a5a;
    --destructive-foreground: #ffffff;

    --muted: #e5e5e5;
    --muted-foreground: #555555;

    --input: #ffffff;
    --input-border: #e5e5e5;

    --ring: #4b63ff;

    --active: #DCFCE7;          /* light green background */
    --green-foreground: #166534; /* dark green text */  
  }
}

/* Map CSS variables to Tailwind tokens */
@theme inline {
  --font-sans: 'Geist', system-ui, sans-serif;
  --font-mono: 'Geist Mono', monospace;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-ring: var(--ring);
}

/* Base styles */
@layer base {
  * {
    @apply border-input;
  }

  *,
  *::before,
  *::after {
    @apply outline-ring;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  [data-radix-select-content] {
    z-index: 99999 !important;
  }
}
