# version: '3.8'

services:
  express_api:
    container_name: emh_express_container
    command: node ./src/app.js
    build:
      context: ./express-app
      dockerfile: Dockerfile
    image: emh_express
    ports:
      - "5000:3000"
    depends_on:
      - mysql_db
      - python_worker
    env_file:
      - ./express-app/.env
    environment:
      NODE_ENV: production
      PYTHON_WORKER_URL: http://python_worker:8000
      DB_HOST: mysql_db
      DB_USER: root
      DB_PASSWORD: root_secret_password
      DB_NAME: event_match_hub_prod
    restart: always
    networks:
      - emh_backend_network

  python_worker:
    container_name: emh_fastapi_container
    build:
      context: ./fastapi_service
      dockerfile: Dockerfile
    image: emh_fastapi
    ports:             # <-- change here
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - ./express-app/.env
    restart: always
    networks:
      - emh_backend_network

  mysql_db:
    image: mysql:8.0.35
    container_name: emh_mysql_db
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_secret_password
      MYSQL_DATABASE: event_match_hub_prod
      MYSQL_INITDB_SKIP_TZINFO: 1
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    networks:
      - emh_backend_network
    # command: --default-authentication-plugin=mysql_native_password

networks:
  emh_backend_network:

volumes:
  mysql_data:
